VITE_API_BASE_URL=https://academic-api.triacompany.com
VITE_APP_NAME=Plataforma de Otimização Acadêmica
VITE_APP_ORGANIZATION=Universidade Metropolitana de Angola / IMETRO
VITE_APP_EXECUTOR=TRIA Company